
/* Header */
header img {
    width: 25%;
    float: left;
}

#usuario, #mensaje, #agregar {
    width: 50px !important;
    height: 50px !important;
    padding: 0.2em;
}

/* Resto del Body */

img {
    width: 40%;
    margin: 0.5em;
    float: right;
}
