@font-face{
    font-family: cuerpo_Font;
    src: url("../fonts/Open_Sans/OpenSans-Light.ttf");
}

@font-face{
    font-family: titulos_Font;
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

p {
    font-family: cuerpo_Font;
    font-size: 110%;
}

h2 {
    text-decoration: none;
    text-align: center;
    font-size: 250%;
    font-family: titulos_Font;
    margin: 0.2em;
    color: #782c2c;
}

h3 {
    font-size: 175%;
    color: #403B2D;    
    margin: 0.2em;
}

h4 {
    font-size: 125%;
    color: #403000;    
    margin: 0em 0.1em;
    padding: 0em 0.2em;
}

aside p {
    margin-top: 0.5em;
}

input {
    font-family: cuerpo_Font;
    font-size: 125%;
}

span {
    font-family: cuerpo_Font;
}

img {
    width: 40%;
    margin: 0.5em;
    float: right;
}

video {
    display: block;
    margin: 0em auto;
    width: auto;
}

a {
    text-decoration: none;
    color: #3D0907;
}

a:hover {
    text-decoration: none;
    color: #FFC000;
}

/*
a:visited {
    text-decoration: none;
    color: #FFC000;
}*/

.lista {
    font-family: cuerpo_Font;
    font-size: 110%;
    text-align: justify;
}

/* Menu */
#menu{
    border: 1px black solid;
    font-family: titulos_Font;
}

/* Contenido */
.contenido {
    border: 1px black solid;
    display: block;
}
/*
.principal {

}*/

article {
    text-align: justify;
    padding: 0em 1em;
    padding-bottom: 2em;
}

.tabla {
    border-collapse: collapse;
    border-spacing: 0em;
    margin: 1em 1em;
    width: 50%;
}

.tabla .cabecera {
    font-family: titulos_Font;
    font-size: 15px;
    text-align: center;
    color: #4d080a;
    padding: 10px 5px;
    border: 1px black solid;
    overflow: hidden;
    word-break: normal;
    background-color: #FFEDB5;
}

.tabla .lateral {
    font-family: titulos_Font;
    font-size: 14px;
    text-align: center;
    color: #4d080a;
    font-weight: normal;
    padding: 10px 5px;
    border: 1px black solid;
    overflow: hidden;
    word-break: normal;
}

.tabla .contenidos {
    font-family: cuerpo_Font;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    padding: 10px 5px;
    border: 1px black solid;
    overflow: hidden;
    word-break: normal;
}

#pie_tabla {
    text-align: left !important;
}
